<div class="container">
  <div class="content">
    <button class="social">Login using Twitter</button>
    <button class="social">Login using Facebook</button>
    <button class="social">Login using Linkedin</button>
    <button class="social">Login using Google+</button>
    <hr class="hr-text" data-content="or">
    <input class="log-input" name="" id="" placeholder="Email or username">
    <input class="log-input" name="" id="" placeholder="Password">
    <button class="login">Login</button>
    <p class="gray-text">Forgot Username or password?</p>
    <p class="dark-gray-text">Don't have an account?</p>
    <p class="blue-text">Sign up</p>
  </div>
</div>
