<div class="container">
  <div class="content">
    <button type="button" class="social">Login with Twitter</button>
    <button class="social">Login with Facebook</button>
    <button class="social">Login with Linkedin</button>
    <button class="social">Login with Google+</button>
    <hr class="hr-text" data-content="or">
    <input class="log-input" name="" id="" placeholder="Email or username">
    <input class="log-input" name="" id="" placeholder="Password">
    <button type="submit" class="login">Login</button>
    <a href="#!" class="gray-text">Forgot Username or password?</a>
    <p class="dark-gray-text">Don't have an account?</p>
    <a href="#!" class="blue-text">Sign up</a>
  </div>
</div>
