<div class="container">
  <div class="content">
    <button type="button" class="social">Entra usando Twitter</button>
    <button class="social">Entra usando Facebook</button>
    <button class="social">Entra usando Linkedin</button>
    <button class="social">Entra usando Google+</button>
    <hr class="hr-text" data-content="o">
    <form action="">
      <input class="log-input" name="" id="" placeholder="Email o Usuario">
      <input class="log-input" name="" id="" placeholder="Password">
      <button type="submit" class="login">Entra</button>
    </form>
    <a href="#!" class="gray-text">¿Olvidaste tu contraseña o usuario?</a>
    <p class="dark-gray-text">¿No tienes cuenta?</p>
    <a href="#!" class="blue-text">Regístrate</a>
  </div>
</div>
